/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header-wrapper {
  background-image: linear-gradient(to bottom, #7ed56fd2, #28b485d3) , url(../img/hero.jpg);
  background-size: cover;
  height: 95vh;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-container {
  position: absolute;
  top: 35px;
  left: 35px;
}

.logo-container img {
  height: 35px;
}

.heading{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
} 

.heading-primary {
  color: white;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  letter-spacing: 38px;
  font-weight: 400;
  font-size: 60px;
  animation: moveInLeft 0.8s ease-out;
}
.heading-primary-secondary {
  display: block;
  letter-spacing: 20px;
  font-weight: 700;
  font-size: 18px;
  animation: moveInRight 0.8s ease-out;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-white {
  color: #777;
  background-color: white;
}

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 100px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all .2s;
}


.btn-white::after {
  color: #777;
  background-color: white;
}


.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

.btn-animation {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}